.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 30%);
}

.student {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p {
  margin: 0;
}

.list-category {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.list-items {
  font-size: 1.5em;
  list-style: none;
  text-align: center;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-items li:hover {
  color: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}