/*-------------------- Counter App --------------------------------*/



/* .card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 30%);
}

.student {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p {
  margin: 0;
}

.list-category {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.list-items {
  font-size: 1.5em;
  list-style: none;
  text-align: center;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-items li:hover {
  color: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.counter-display {
  font-size: 6em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(199, 100%, 58%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(197, 100%, 48%);
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color-picker-container h2{
  font-size: 2.5rem;
  margin: 50px;
}
.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

input[type="color"]{
  width: 100px;
} */






/*-------------------- TO-DO-LIST --------------------------------*/






/* body {
  background-color: hsl(0, 0%, 10%);
}

.to-do-list {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin-top: 70px;
}

h1 {
  font-size: 4rem;
  color: white;
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button {
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-button {
  background-color: hsl(10, 90%, 40%);
}

.delete-button:hover {
  background-color: hsl(10, 90%, 30%);
}

.move-button {
  background-color: hsl(207, 90%, 54%);
}

.move-button:hover {
  background-color: hsl(207, 90%, 44%);
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: hsla(0, 0%, 0%, 0.5);
}

ol {
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: hsl(0, 0%, 97%);
  margin-bottom: 10px;
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
}

.delete-button,
.move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
} */








/*-------------------- DIGITAL CLOCK --------------------------------*/







/* body {
  background-image: url(assets/clockimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.clock-container {
  backdrop-filter: blur(1px);
  width: 100vw;
}

.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px hsl(0, 0%, 0%, 0.75);
} */




/*-------------------- Component Box --------------------------------*/





/* .box {
  border: 3px solid;
  padding: 25px;
} */




/*-------------------- StopWatch --------------------------------*/



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
}

.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display {
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsl(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsl(0, 0%, 0%, 0.75);
  margin-bottom: 25px;
}

.controls button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button {
  background-color: hsl(115, 100%, 40%);
}

.start-button:hover {
  background-color: hsl(115, 100%, 35%);
}

.stop-button {
  background-color: hsl(10, 90%, 50%);
}

.stop-button:hover {
  background-color: hsl(10, 90%, 45%);
}

.reset-button {
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover {
  background-color: hsl(205, 90%, 55%);
}