.card {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
}

.card .card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: hsl(0, 0%, 30%);
}

.student {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 50%, 0.8);
}

.student p {
  margin: 0;
}

.list-category {
  text-align: center;
  font-size: 2.0em;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.list-items {
  font-size: 1.5em;
  list-style: none;
  text-align: center;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list-items li:hover {
  color: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}

.counter-container {
  text-align: center;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.counter-display {
  font-size: 6em;
  margin-top: 0;
  margin-bottom: 50px;
}

.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(199, 100%, 58%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.counter-button:hover {
  background-color: hsl(197, 100%, 48%);
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.color-picker-container h2{
  font-size: 2.5rem;
  margin: 50px;
}
.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

input[type="color"]{
  width: 100px;
}